body {
    background-color: #C0C0C0;

}

.BIGTITLE{
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.MEDIUMTITLE{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.NORMALTEXT{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: black;
}

.LINKTEXT{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: black;
}

.QUOTE{
	font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	font-size: 20px ;
	line-height: 7.7px;
	text-align: center;
}
.parallax { 
    /* The image used */
    background-image: url("Background.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}

.parallax2 { 
    /* The image used */
    background-image: url("AI-img.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}  

.parallax3 { 
    /* The image used */
    background-image: url("laptop-2838917_1920.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}

.parallax4 { 
    /* The image used */
    background-image: url("processor-2217771_1920.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}

#navbar {
  text-align: center;
}

#navbar a {
   /* text-formating of the navigation bar*/
  background-color: white;
  border-radius: 10px;
  font-size: 120%;
  font-weight: 550;
  color: black;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 1px #000;
}

#navbar a:link, #navbar a:visited {
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  background-color: #66f;
}

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color: black;
    text-align:center;
}
