html, body {
	padding: 0;
	margin: 0;
    background-color: #C0C0C0;

}

.BIGTITLE{
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.MEDIUMTITLE{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.NORMALTEXT{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}
.QUOTE{
	
}

.parallax { 
    /* The image used */
    background-image: url("Background.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}

.parallax2 { 
    /* The image used */
    background-image: url("AI-img.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Text-Formating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
    margin: 0;
    padding: 21px 0;
}  
#navbar {
  text-align: center;
}

#navbar a {
   /* text-formating of the navigation bar*/
  background-color: white;
  border-radius: 10px;
  font-size: 120%;
  font-weight: 550;
  color: black;
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 1px #000;
}

#navbar a:link, #navbar a:visited {
  text-decoration: none;
}

#navbar a:hover, #navbar a:active {
  background-color: #66f;
}

/*

.footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color: black;
    text-align:center;
}
*/
#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

#site-content {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('http://dummyimage.com/3000x3000/D1D1D1/2A2A2A.png?text=Scroll+Down');
}

#site-footer {
	min-height: 20vw;
	/* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
	/* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
	background-size: cover;
	background-position: center;
	background-image: url('http://dummyimage.com/1500x1500/2A2A2A/FFF.png?text=Footer+Area+(Resize+Me)');
}
